.educational_qualification_page_parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
    width: 90%;
}

.educational_qualification_page_div1 {
    grid-column: span 2 / span 2;
}

.educational_qualification_page_div2 {
    border: 2px solid #064E3B;
    /* thickness + color */
    border-radius: 12px;
    /* curve at the corners */
    padding-bottom: 32px;
}

.educational_qualification_page_div3 {
    border: 2px solid #064E3B;
    /* thickness + color */
    border-radius: 12px;
    /* curve at the corners */
    padding-bottom: 32px;
}

@media (max-width: 768px) {
    .educational_qualification_page_parent {
        grid-template-columns: 1fr !important;
    }

    .educational_qualification_page_parent>div {
        grid-column: 1 / -1 !important;
    }
}