.sample_about_my_skills_parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    width: 90%;
}

.sample_about_my_skills_div1 {
    grid-row: span 2 / span 2;
    background-color: #FFF7F7;
    border-radius: 12px;
    padding: 16px;
}

.sample_about_my_skills_div2 {
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 3;
    background-color: #FFF7F7;
    border-radius: 12px;
    padding: 16px;
}

.sample_about_my_skills_div3 {
    grid-column-start: 2;
    grid-row-start: 1;
    background-color: #FFF7F7;
    border-radius: 12px;
    padding: 16px;
}

.sample_about_my_skills_div4 {
    grid-column-start: 2;
    grid-row-start: 2;
    background-color: #FFF7F7;
    border-radius: 12px;
    padding: 16px;
}

.sample_about_my_skills_div5 {
    grid-row-start: 3;
    background-color: #FFF7F7;
    border-radius: 12px;
    padding: 16px;
}

.sample_about_my_skills_div6 {
    grid-column-start: 2;
    background-color: #FFF7F7;
    border-radius: 12px;
    padding: 16px;
}

@media (max-width: 768px) {
    .sample_about_my_skills_parent {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 8px;
        width: 95%;
    }

    .sample_about_my_skills_div1 {
        grid-row: span 2 / span 2;
        background-color: #FFF7F7;
        border-radius: 12px;
        padding: 16px;
    }

    .sample_about_my_skills_div2 {
        grid-row: span 2 / span 2;
        grid-column-start: 1;
        grid-row-start: 3;
        background-color: #FFF7F7;
        border-radius: 12px;
        padding: 16px;
    }

    .sample_about_my_skills_div3 {
        grid-column-start: 1;
        grid-row-start: 5;
        background-color: #FFF7F7;
        border-radius: 12px;
        padding: 16px;
    }

    .sample_about_my_skills_div4 {
        grid-column-start: 1;
        grid-row-start: 6;
        background-color: #FFF7F7;
        border-radius: 12px;
        padding: 16px;
    }

    .sample_about_my_skills_div5 {
        grid-row-start: 7;
        background-color: #FFF7F7;
        border-radius: 12px;
        padding: 16px;
    }

    .sample_about_my_skills_div6 {
        grid-column-start: 1;
        grid-row-start: 8;
        background-color: #FFF7F7;
        border-radius: 12px;
        padding: 16px;
    }
}


.sub_div_for_individua_parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
}

@media (max-width: 768px) {
    .sub_div_for_individua_parent {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 8px;
    }

    .sub_div_for_individua_parent .my_skill_page_icons_all {
        height: 3rem;
        margin: 0.5rem;
    }
}

.title_for_skills_spaces {
    padding-bottom: 1rem;
}

.sub_div_for_individua {
    background-color: white;
}

.my_skill_page_icons_all {
    height: 5rem;
    margin: 1rem;
}