.laptop_my_skills_font_1 {
    font-size: 3rem;
    font-family: Verdana, sans-serif;
    color: #0D0D0D;
}

.laptop_my_skills_font_2 {
    font-size: 3rem;
    font-family: Verdana, sans-serif;
    color: #064E3B;
}

.laptop_my_skills_font_3 {
    font-size: 2rem;
    font-family: sans-serif;
    color: #3F3F46;
}

.laptop_my_skills_font_4 {
    font-size: 1.2rem;
    font-family: Verdana, sans-serif;
    color: #3F3F46;
}

.laptop_my_skills_button_view_more {
    text-align: center;
    margin: .4rem .2rem;
    background-color: #F2F2F2;
    border: 2px solid #064E3B;
    padding: .5rem 2.5rem;
    border-radius: 12px;
    cursor: pointer;
}

.laptop_my_skills_button_view_more:hover {
    background-color: #F2F2F2;
    box-shadow: 0 .1rem 1.6rem 0 rgba(0, 0, 0, 0.24), 0 1.7rem 5rem 0 rgba(0, 0, 0, 0.19);
}

.sample_laptop_my_skills_div_grand_parent {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #F2F2F2;
    width: 90%;
    border-radius: 12px;
    padding: 16px;
}

.sample_laptop_my_skills_parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}

.sample_laptop_my_skills_parent_div1,
.sample_laptop_my_skills_parent_div2,
.sample_laptop_my_skills_parent_div3,
.sample_laptop_my_skills_parent_div4 {
    background-color: #FFF7F7;
    border-radius: 12px;
    margin: 15px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.sample_laptop_my_skills_sub_div1,
.sample_laptop_my_skills_sub_div2,
.sample_laptop_my_skills_sub_div3,
.sample_laptop_my_skills_sub_div4,
.sample_laptop_my_skills_sub_div5{
    background-color: white;
    border-radius: 12px;
}

.sample_laptop_my_skills_parent_div5 {
    grid-column: span 2 / span 2;
}


.sample_laptop_my_skills_sub_parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}