.mobile_about_me_parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 2px solid #064E3B;
    /* thickness + color */
    border-radius: 12px;
    /* curve at the corners */
    padding: 1px;
    margin: 10px;
}

/* Common styling for divs */
.mobile_about_me_parent>div {
    width: 95%;
    cursor: pointer;
}

/* Hide div2 and div3 initially */
.mobile_about_me_div2,
.mobile_about_me_div3 {
    display: none;
}

/* Show when parent has "show" class */
.mobile_about_me_parent.show .mobile_about_me_div2,
.mobile_about_me_parent.show .mobile_about_me_div3 {
    display: block;
}


































.mobile_about_me_div1 {
    grid-column: span 2 / span 2;
    padding-top: 1rem;
}

.mobile_about_me_div2 {
    grid-column: span 2 / span 2;
    grid-row-start: 2;
    text-align: center;
}

.mobile_about_me_div3 {
    grid-column: span 2 / span 2;
    grid-row-start: 4;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.mobile_about_me_about_me_table{
    width: 100%;
}

.mobile_about_me_me {
    height: 5rem;
    border-radius: 50%;
}

.mobile_about_me_about_me_font_1{
    font-size: 2rem;
    font-family: Verdana, sans-serif;
    color: #0D0D0D;
}

.mobile_about_me_about_me_font_2{
    font-size: 2rem;
    font-family: Verdana, sans-serif;
    color: #064E3B;
}

.mobile_about_me_about_me_font_3{
    font-size: 1.4rem;
    font-family: sans-serif;
    color: #3F3F46;
}

.mobile_about_me_about_me_font_4{
    font-size: 1rem;
    font-family: Verdana, sans-serif;
    color: #3F3F46;
}

.mobile_about_me_button_view_more_about_me{
    text-align: center;
    margin: .4rem .2rem;
    background-color: white; 
    border: 2px solid #064E3B;
    padding: .5rem 2.5rem;
    border-radius: 12px;
    cursor: pointer;
}

.mobile_about_me_button_view_more_about_me:hover{
    box-shadow: 0 .1rem 1.6rem 0 rgba(0,0,0,0.24), 0 1.7rem 5rem 0 rgba(0,0,0,0.19);
}

.mobile_about_me_view_more_about_me {
    text-decoration: none;
    font-family: Verdana, sans-serif;
    font-size: 1rem;
    color: #3F3F46;
}