.mobile_my_skills_font_1 {
    font-size: 2rem;
    font-family: Verdana, sans-serif;
    color: #0D0D0D;
}

.mobile_my_skills_font_2 {
    font-size: 2rem;
    font-family: Verdana, sans-serif;
    color: #064E3B;
}

.mobile_my_skills_font_3 {
    font-size: 1.4rem;
    font-family: sans-serif;
    color: #3F3F46;
}

.mobile_my_slill_button_view_more {
    text-align: center;
    margin: .4rem .2rem;
    background-color: #F2F2F2;
    border: 2px solid #064E3B;
    padding: .5rem 2.5rem;
    border-radius: 12px;
    cursor: pointer;
}

.mobile_my_slill_button_view_more:hover {
    box-shadow: 0 .1rem 1.6rem 0 rgba(0, 0, 0, 0.24), 0 1.7rem 5rem 0 rgba(0, 0, 0, 0.19);
}

.mobile_my_slill_view_more {
    text-decoration: none;
    font-family: Verdana, sans-serif;
    font-size: 1rem;
    color: #3F3F46;
}







.sample_mobile_my_skills_div_grand_parent {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #F2F2F2;
    width: 88%;
    border-radius: 12px;
    padding: 16px;
}

.sample_mobile_my_skills_parent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
}

.sample_mobile_my_skills_parent_div5 {
    grid-column: span 1 / span 1;
}

.sample_mobile_my_skills_sub_parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.my_skill_page_icons_all_mobile {
    height: 3rem;
    margin: 0.5rem;
}

.sample_mobile_my_skills_parent_div1,
.sample_mobile_my_skills_parent_div2,
.sample_mobile_my_skills_parent_div3,
.sample_mobile_my_skills_parent_div4 {
    background-color: #FFF7F7;
    border-radius: 12px;
    margin: 15px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.sample_mobile_my_skills_parent_div1,
.sample_mobile_my_skills_parent_div2,
.sample_mobile_my_skills_parent_div3,
.sample_mobile_my_skills_parent_div4 {
    background-color: #FFF7F7;
    border-radius: 12px;
    margin: 15px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}