.nav_for_all_pages {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #064E3B;
    color: black;
    padding: 0rem 5rem;
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
}

@media (max-width: 768px) {
    .nav_for_all_pages {
        display: block;
        justify-content: space-between;
        align-items: center;
        background: #064E3B;
        color: black;
        padding: 0.5rem 2rem;
        font-family: sans-serif;
        font-size: 1.6rem;
        font-weight: 300;
    }

    .nav_nav_for_mobile {
        display: flex;
    }

    .nav-space {
        width: 100%;
    }
}

.rajat_text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rajat_text a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font: 2rem sans-serif;
}

.rajat_logo_nav {
    height: 2rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 5rem;
}

.nav-links li {
    display: block;
    line-height: 1;
}

.nav-links a {
    text-decoration: none;
    color: #FFFFFF;
}

.nav-links a:hover {
    color: #d0d0d1;
}

.nav-links .active {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #d0d0d1;
}

.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #FFFFFF;
}

.nav_icons {
    display: none;
}

@media (max-width: 768px) {
    .nav-links {
        top: 60px;
        background: #064E3B;
        width: auto;
        flex-direction: row;
        display: none;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0;
        font-size: 1.5rem;
        gap: 3rem;
    }

    .nav-links.show {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .nav_icons {
        display: block;
    }

    .nav-icons .active {
        color: #d0d0d1;
    }

    .nav_word {
        display: none;
    }
}



























































.Nav_for_all_page_laptop {
    background: #064E3B;
    display: flex;
    padding: 0rem 5rem;
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
}


.rajat_text_for_nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rajat_text_for_nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font: 2rem sans-serif;
}

.space_between_nav {
    width: 100%;
}


.nav_actial_part_ul_laptop {
    list-style: none;
    display: flex;
    gap: 5rem;
}

.nav_actial_part_ul_laptop li {
    display: block;
    line-height: 1;
}

.nav_actial_part_ul_laptop a {
    text-decoration: none;
    color: #FFFFFF;
}

.nav_actial_part_ul_laptop a:hover {
    color: #d0d0d1;
}

.nav_actial_part_ul_laptop .active_page {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #d0d0d1;
}

@media (max-width: 768px) {
    .Nav_for_all_page_laptop {
        display: none;
    }
}

.Nav_for_all_page_mobile {
    display: none;
}


@media (max-width: 768px) {
    .Nav_for_all_page_mobile {
        background: #064E3B;
        display: flex;
        padding: 0rem 2rem;
        font-family: sans-serif;
        font-size: 1.1rem;
        font-weight: 300;
    }

    .rajat_text_for_nav a {
        text-decoration: none;
        color: white;
        font-weight: 500;
        font: 1.5rem sans-serif;
    }
}

.nav_actial_part_ul_mobile {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav_actial_part_ul_mobile li {
    display: block;
    line-height: 1;
}

.nav_actial_part_ul_mobile a {
    text-decoration: none;
    color: #FFFFFF;
}